<!doctype html>

<html lang="br">

<head>
    <meta charset="utf-8">
    <title>INOVE Dados - Sistema Financeiro</title>
    <base href="https://sistemas.inovedados.com.br/financeiro/public/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="./assets/media/logos/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700"
          rel="stylesheet">

    <script src="assets/js/components/util.js" type="application/javascript"></script>
    <script src="assets/js/components/header.js" type="application/javascript"></script>
    <script src="assets/js/components/menu.js" type="application/javascript"></script>
    <script src="assets/js/components/offcanvas.js" type="application/javascript"></script>
    <script src="assets/js/components/scrolltop.js" type="application/javascript"></script>
    <script src="assets/js/components/toggle.js" type="application/javascript"></script>
    <script src="assets/js/components/dialog.js" type="application/javascript"></script>
    <script src="assets/js/components/wizard.js" type="application/javascript"></script>
    <link rel="stylesheet" href="styles.1e1b51ccc2ca312f23f9.css"></head>

<body kt-root id="kt_body"><script src="runtime-es2015.d3778876a2d704d4628e.js" type="module"></script><script src="runtime-es5.d3778876a2d704d4628e.js" nomodule defer></script><script src="polyfills-es5.8bc9667c8fba4aabaf34.js" nomodule defer></script><script src="polyfills-es2015.ed653967035e053cb858.js" type="module"></script><script src="scripts.116b520ef425f9b010e3.js" defer></script><script src="main-es2015.45e43b36ee29aea967b0.js" type="module"></script><script src="main-es5.45e43b36ee29aea967b0.js" nomodule defer></script></body>

</html>
